<section>
    <nav class="navbar">
        <a href="/" class="navbar-der">
            <img class="logo" src="/img/flag.png">
            <h1 class="nombrelogo">Tecno Chile F1</h1>
        </a>
        <div class="navbar-izq">
            <a class="navbar-izq" href="/calendario" class="navbar__btn">Calendario</a>
            <a class="navbar-izq" href="/posiciones" class="navbar__btn">Posiciones</a>
            <a class="navbar-izq" href="/carrera" class="navbar__btn">Carrera</a>
        </div>
    </nav>
</section>