<section>
    <nav class="navbar">
        <a href="/" class="navbar-der">
            <img class="logo" src="/img/flag.png">
            <h1 class="nombrelogo">Tecno Chile F1</h1>
        </a>
        <div class="navbar-izq">
            <a class="navbar-izq" href="/calendario" class="navbar__btn">Carreras</a>
            <a class="navbar-izq" href="/posicionespiloto" class="navbar__btn">Pilotos</a>
            <a class="navbar-izq" href="/posicionesescuderia" class="navbar__btn">Escuderias</a>
            <a class="navbar-izq" href="/abandonos" class="navbar__btn">Abandonos</a>
            <a class="navbar-izq" href="/reset" class="navbar__btn">reset</a>
        </div>
</section>