<section>
    <nav class="navbar">
        <div class="navbar-der">
            <img class="logo" src="/img/flag.png">
            <h1 class="nombrelogo">Tecno Chile F1</h1>
        </div>
        <div class="navbar-izq">
            <h3 class="navbar__btn">Calendario</h3>
            <h3 class="navbar__btn">Posiciones</h3>
            <h3 class="navbar__btn">Contactanos</h3>
        </div>
    </nav>
</section>