{{#> plantilla}}
    <section class="abandonos">
        <h1 class="margin0 h1Abandono">Abandonos</h1>

        <table class="tabless">
            <tr>
                <th>Piloto</th>
                <th>N° Abandonos Personales</th>
                <th>N° Abandonos Tecnicos</th>
            </tr>
            <tr>
                <th>NombrePiloto</th>
                <th>Cantidad de Abandonos</th>
                <th>Cantidad de Abandonos</th>
            </tr>
        </table>

        <br><br>
        <table class="tabless">
            <tr>
                <th>Pilotos Fallecidos</th>
            </tr>
            <tr>
                <th>Nombre Piloto</th>
            </tr>
        </table>
    </section>

{{/plantilla}}