{{#> plantilla}}
    <div class="race-speedway"></div>
        {{#each pilotos }}
            <div class="race">
                <img style= "--i:{{@key}};"  class="race-team" src={{team}}>
                <img style= "--i:{{@key}};"  class="race-car" src={{car}}>
            </div>
        {{/each}}
    </div>
{{/plantilla}}