{{#> plantilla}}
    <div>
        
    </div>
    <div class="race-speedway">
        {{#each data.pilotos }}
            <div class="race">
                <img style= "--i:{{@key}};" class="race-team" src={{team}}>
                <img style= "--i:{{@key}};" class="race-car" src={{car}}>
            </div>
        {{/each}}
    </div>
{{/plantilla}}