{{#> plantilla}}
    <table>
        <tr>
            <th></th>
            <th>
                {{#each circuito }}
                    <img class="paises" src={{img}}>
                {{/each}}
            </th>
        </tr>
        {{#each equipo }}
            <tr>
                <td>
                    <img class="paises" src={{img}}>
                </td>
            </tr>
        {{/each}}
    </table>
{{/plantilla}}