{{#> plantilla}}
<div class="container">
  <div class="body2">
    <div class="container--top-menu">
      
      <div class="container--card-spot size-1">
        <div class="container--card border">
          <a class="hrefcard" href="/posicionespiloto">
            <div class="item--card-image imgPosiciones"> </div>
            <div class="container--card--text">
              <div class="item--icon">20<i class="fa fa-check-circle-o"></i></div>
              <div class="item--card-title text">
                Posiciones Pilotos</div>
              <div class="item--card-sub text">
                Participantes</div>
            </div>
          </a>
        </div>
      </div>

      <div class="container--card-spot size-2">
        <div class="container--card border">
          <a class="hrefcard" href="/calendario">
            <div class="item--card-image imgformula1"> </div>
            <div class="container--card--text dark">
              <div class="item--card-title dark text">
                Ir a Carreras</div>
              <div class="item--card-sub dark text">
                Fecha de carreras, Circuitos, Paises</div>
            </div>
          </a>
        </div>
      </div>

      <div class="container--card-spot size-1">
        <div class="container--card border">
          <a class="hrefcard" href="/posicionesescuderia">
            <div class="item--card-image imgTeams"\> </div>
            <div class="container--card--text">
              <div class="item--icon">10<i class="fa fa-car"></i></div>
              <div class="item--card-title text">
                Posiciones Teams</div>
              <div class="item--card-sub text">
                Escuderias</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container--bottom-menu">
      <div class="container--card-spot size-1">
        <a class="hrefcard" href="/abandonos">
          <div class="container--card">
            <div class="item--card-image med-height imgRetiro"></div>
            <div class="container--card--text">
              <div class="item--card-title text">
                Abandono</div>
              <div class="item--card-sub text">
                Retiro Tecnico o Personal</div>
            </div>
          </div>
        </a>
      </div>

      <div class="container--card-spot size-1">
        <div class="container--card size-1">
          <a class="hrefcard" href="/abandonos">
            <div class="item--card-image med-height colorize imgaccidente"> </div>
            <div class="container--card--text">
              <div class="item--card-title text">
                Abandonos</div>
              <div class="item--card-sub text">
                Accidentes</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/plantilla}}