{{#> plantilla}}
    <div class="clasificacionCarrera">
        {{#each circuito }}
            <img class="paises" src={{img}}>
        {{/each}}
    </div>

    <div class="clasificacionCarrera">
        {{#each equipo }}
            <img class="paises" src={{img}}>
        {{/each}}
    </div>
{{/plantilla}}