{{#> plantilla}}
    <div class="clasificacionCarrera">
        {{!-- {{#each carrera }}
            <img class="paises" src={{flag}}>
        {{/each}} --}}

        {{#each equipos }}
            <img class="paises" src={{team}}>
        {{/each}}
    </div>
{{/plantilla}}