{{#> plantilla}}
    <table class="tablaClasificacion">
        <tr>
            <th>Posicion</th>
            <th>Piloto</th>
            {{#each bandera}}
                <th><img class="tablaClasificacion__paises" src={{puntaje}}></th>
            {{/each}}
        </tr>
        {{#each data.tabla}}
            {{#if idEsc}}
            <tr>
                <th class="tablaClasificaciones__Nclas">{{@key }}</th>
                <th>{{nombre}}</th>
                {{#each arrCarrera}}
                    <th>{{puntaje}}</th>
                {{/each}}
            </tr>
            {{/if}}
        {{/each}}
    </table>
{{/plantilla}}