@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --clr-black: #000000c9;
    --clr-white: #ffffff;   
    --clr-white-act: #a7a5a5;

    --font-Sans: 'Open Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: var(--clr-black);
    display: flex;
    justify-content: space-between;
    font-family: var(--font-Sans);
    height: 4rem;
}
.logo {
    margin-left: 1rem;
    height: 4rem;
}
.navbar-der, .navbar-izq {
    display: flex;
    color: var(--clr-white);
    align-items: center;
    gap: .6rem;
    margin-right: 1rem;
    text-decoration: none;
}
.navbar__btn:hover {
    color: var(--clr-white-act);
}

/* CUADRO CLASIFICACIONES CARRERA */
.clasificacionCarrera {
    display: flex;
    justify-content: end;
    border: solid 1px var(--clr-black);
    margin: 1rem 5rem 1rem 5rem;
    padding: .5rem;
    gap: .2rem;
}

.paises {
    height: 2rem;
}

/* cars ---------------------------------------------------------- */
.race-speedway {
    position: relative;
}

.race-car {
    position: absolute;
    height: 5rem;
    transform: rotate(-90deg);
    top: calc(100px + 3rem * var(--i));
    left: 50px;
}

/* calendario ---------------------------------------------------- */
.calendario {
    background-color: #181818;
}

.calendario-carrera {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0.2rem;
    gap: 1rem;
}

.calendario-carrera:hover {
    background-color: #666666;
}

.calendario-carrera span {
    min-width: 10rem;
    color: yellow;
}

.calendario-carrera button {
    min-width: 10rem;
}

.calendario-carrera p {
    min-width: 10rem;
    background-color: rosybrown;
    color: white;
    margin: 0;
} 

.calendario-carrera div {
    color: white;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */




/* FOOTER */
footer {
    text-align: center;
}
