@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --clr-black: #000000c9;
    --clr-white: #ffffff;   
    --clr-white-act: #a7a5a5;

    --font-Sans: 'Open Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: var(--clr-black);
    color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    font-family: var(--font-Sans);
    height: 4rem;
}
.logo {
    margin-left: 1rem;
    height: 4rem;
}
.navbar-der, .navbar-izq {
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-right: 1rem;
}
.navbar__btn:hover {
    color: var(--clr-white-act);
}

/* CUADRO CLASIFICACIONES CARRERA */
.clasificacionCarrera {
    display: flex;
    justify-content: end;
    border: solid 1px var(--clr-black);
    margin: 1rem 5rem 1rem 5rem;
    padding: .5rem;
    gap: .2rem;
}

.paises {
    height: 2rem;
}
/* FOOTER */
footer {
    text-align: center;
}